body {
}
@font-face{
    src:url(../fonts/fundacion/bolina/Bolina.otf);
    font-family:bolina;
}
@font-face{
    src:url(../fonts/fundacion/fenix_header/FENIXHEA.TTF);
    font-family:fenix_header;
}
@font-face{
    src:url(../fonts/fundacion/harbell/Harbell_Personal_Use.ttf);
    font-family:harbell;
}

@font-face{
    src:url('../fonts/fundacion/kingthings_foundation/Kingthings Foundation.ttf');
    font-family:foundation;
}
@font-face{
    src:url(../fonts/fundacion/odstemplik/odstemplik.otf);
    font-family:bolina;
}

.encabezado{
    background:#333;
	padding:0em 0 1em;
}

.maya{
    display:inline-block;
}

.titulofundacion{
    color:white;
    font-size:90px;
    font-family:bolina;
    margin:0px 0px 0px 5px;
    padding:0px 0px 0px 0px;
    text-align:center;
}

